@main-background-color: rgb(49,49,49);
@accent-color: #fff;
@text-color: #C9C9C9;
@headline-font-weight: 400;

body.palette-dark { background-color: rgb(49,49,49); 

  #main-content { background-color: transparent; border:0; }
  #pop-title { color: #C9C9C9; margin-left: 0; }

  .asset-content {
    float: none;
    display: block;
    width: inherit;
    img { width:inherit; }
    .embed iframe { width:960px; }
  }
  .asset-title {
    text-align: left;
    width: inherit;
    display: block;
    float: none;
    margin-right: 0px;
  }

}