@main-background-color: #E5E5E5;
@accent-color: #222;
@text-color: #222;
@headline-font-weight: 400;

body.palette-default { background-color: #E5E5E5; 

  /* #main-content { background: #F7F7F7;border: 1px solid #F9F9F9; } */
  #pop-title {margin-left: 0px; }
  
  .asset-content {
  float: none;
  display: block;
  width: inherit;
    img { width:inherit; }
    .embed iframe { width:960px; }
  
  }
  .asset-title {
  text-align: left;
  width: inherit;
  display: block;
  float: none;
  margin-right: 0px;
  }
}